input {
  min-width: 120px;
  padding: 6px 10px;
  font-size: 12px;
  border: solid 1px $gray-dark;
  outline: none;

  &:focus {
    border-color: $primary;
  }
}

label {
  font-weight: 100;
  font-size: 13px;
}