input {
  min-width: 120px;
  padding: 6px 10px;
  font-size: 12px;
  border: solid 1px $gray-dark;
  outline: none;

  &:focus {
    border-color: $primary;
  }
}

label {
  font-weight: 100;
  font-size: 13px;
}

.form-group {
  display: inline-block;

  .help-block {
    position: absolute;
    display: block;
    font-size: 12px;
    margin-top: 5px;
  }

  &.has-error {
    input {
      border-color: $error;
    }
    .help-block {
      color: $error;
    }
  }
}