@import "base/colors";

.control-bar {
  padding: 20px 20px 40px 20px;
  margin-bottom: 5px;
  background: $gray-light;

  h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .form-group {
    margin: 0 5px 0 20px;
  }
}